
@import "_3.modules.buttons";
@import "_3.modules.form";
@import "_3.modules.landing";
@import "_3.modules.menu";
@import "_3.modules.profile";










.app__header {
	text-align: center;

	background: $bittersweet;
}

	.app__header__logo {
		@include absolute_center;
		top: -1em;

		color: white;
		font-size: 7em;

		height: 0;
		line-height: 0;
	}



.item {
	margin-bottom: 1.5em;
}


	.item__star {
		position: absolute;
		top: -0.2em;
		left: -0.2em;

		z-index: 2;

		color: $lightgray--dark;
		font-size: 1.5em;


		@include transition(color 0.3s);

		&:hover,&.active {
			color: $sunflower;
		}
	}


	.item__images {
		position: relative;

		margin-bottom: 2em;
	}
		
		.item__image__link {
			display: block;
			width: 100%;
		}


		.item__image {
			display: block;
			background-size: cover;

			overflow: hidden;
			border-radius: 50%;			



			.item__image__highlight:hover & {
				
			}

			&:after {
				content: "";
				display: block;
			    padding-top: 100%;
			}
		}


		.item__image__highlight {
			@include gradient;

			color: white;
			opacity: 0;
			text-align: center;

			position: absolute;
			top: 0;
			left: 0;

			border-radius: 50%;	

			width: 100%;



			-webkit-animation: hue 5s infinite;


			@include transition(opacity 0.3s);


			&:after {
				content: "";
				display: block;
			    padding-top: 100%;
			}

			&:hover {
				opacity: 0.6;
			}
		}


			.item__image__highlight__plus {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;

				margin: auto;

				height: 25%;
				width: 25%;

				font-size: 5em;	
				font-family: $header_font;	
				font-weight: 300;
				text-align: center;

				border: 1px solid white;


				@include rotate(45deg);

				transform-origin: 50% 50%;
				-webkit-transform-origin: 50% 50%;


				&:after {
					display: block;
					@include transform(rotate(45deg) translate(-36%, -19%));
				}
			}



		.item__owner_link {
			position: absolute;
			bottom: -1em;
			right: -1em;

			width: 40%;


			.items--profile & {
				display: none;
			}
		}

		.item__owner_image {
			border: 0.3em solid white;
			border-radius: 50%;


			@include transition(border-color 0.3s);

			&:hover {
				border-color: $sunflower;
			}
		}

	.item__title {
		text-align: center;


		@include transition(color 0.3s);

		.item:hover & {
			color: $aqua--dark;
		}
	}


.header__bar {
	position: absolute;
	top: 4em;
	left: 0;

	z-index: -1;

	height: 10em;
	width: 100%;

	opacity: 0.8;


	@include gradient;
}

	.header__bar--item {
		-webkit-filter: hue-rotate(240deg);
	}


	.header__image {
		display: block;
		position: relative;

		background-color: white;
		background-size: cover;


		border: 0.5em solid white;
		border-radius: 50%;			

		width: 10em;
		margin: 0 auto 1em;


		&:after {
			content: "";
			display: block;
		    padding-top: 100%;
		}

		&.header__image--profile {
			
		}

		&.header__image--item {
			width: 18em;

			margin: 0 auto 2em;
		}

		.item__owner_link {
			width: 35%;
		}
	}


.item__header {
	text-align: center;
	// vertical-align: middle;

	margin-top: 2em;
}

	.item__header__h1,
	.item__header__h2,
	.item__bar__h1 {
		color: $darkgray--dark;
		text-transform: uppercase;
		line-height: 1.1em;
	}

	.item__header__h1 {
		font-size: 2.5em;

		margin-bottom: 0.3em;
	}

	.item__header__h2 {
		font-size: 1.2em;

		margin-bottom: 2em;
	}

	.item__meta {
		vertical-align: bottom;

		margin-bottom: 2.5em;

		.button {


			&:first-of-type {
				border-bottom-left-radius: 0; 
				border-bottom-right-radius: 0; 
			}
			
			&:last-child {
				border-top-left-radius: 0; 
				border-top-right-radius: 0; 
			}
		}
	}

		.item__description {
			margin-bottom: 3em;
		}


.item__bar {

}

	.item__bar__h2 {
		text-align: center;
	}


.proposals {
	background: $lightgray;
}

	.proposals__button {
		font-size: 1.4em;

		border-radius: 0;
	}


	.proposal {
		cursor: pointer;
		padding: 1em;


		@include transition(background 0.3s);

		&:hover {
			background: $lightgray--dark;
		}

		&.proposal--selected {
			background: $mint;
		}

		&.proposal--new {
			color: $aqua;
			text-align: center;
		}
	}

		.proposal__image {
			display: inline-block;
			width: 30%;
			vertical-align: middle;

			margin-right: 1.5em;
		}


		.proposal__title {
			display: inline-block;
			vertical-align: middle;

			font-size: 1.2em;
			font-weight: 300;
			text-transform: uppercase;


			@include transition(color 0.3s);

			.proposal--selected & {
				color: white;
			}
		}






