
.app__nav, .app__notifications {
	overflow: hidden;

	
	@include translate(0, -100%);
	@include transformer(0.3s);

	&.app__nav--active {
		@include translate(0, 0);
	}

}

	.app__nav__link, .app__notifications__link {
		display: block;
		position: relative;
 
		color: white;

		padding: 0.5em 1.5em 0.4em;
		background: $mint;



		&:before {
			position: absolute;
			top: 0.6em;
			right: 0.2em;

			font-size: 1.5em;
		}


		&:first-child {
			padding-top: 0.5em;
		}

		&:last-child {
			border-bottom: 0.4em solid $mint--darker;
		}

		@for $i from 0 through 6 {
			&:nth-child(#{$i}) {
				background: darken($mint, 2% * $i);
			}
		}


		i {
			font-size: 1.8em;
			opacity: 0.8;

			vertical-align: middle;

			margin-right: 0.5em;
		}
	}


		.app__nav__image, .app__notifications__image {
			width: 2em;
			vertical-align: middle;

			padding: 0.5em 0;
			margin-right: 0.7em;

			border-radius: 50%;
		}

