
.app__nav, .app__notifications {
	overflow: hidden;

	
	@include translate(0, -100%);
	@include transformer(0.3s);

	&.app__nav--active {
		@include translate(0, 0);
	}

}

	.app__nav__link {
		display: block;
		position: relative;
 
		color: white;

		padding: 0.5em 1.5em 0.4em;
		background: $mint;



		&:before {
			position: absolute;
			top: 0.6em;
			right: 0.2em;

			font-size: 1.5em;
		}


		&:first-child {
			padding-top: 0.5em;
		}

		&:last-child {
			border-bottom: 0.4em solid $mint--darker;
		}

		@for $i from 0 through 6 {
			&:nth-child(#{$i}) {
				background: darken($mint, 2% * $i);
			}
		}


		i {
			font-size: 1.8em;
			opacity: 0.8;

			vertical-align: middle;

			margin-right: 0.5em;
		}



		&.app__nav__link--notification {
			&:last-child {
				border-bottom: 0.4em solid $aqua--darker;
			}


			@for $i from 0 through 10 {
				&:nth-child(#{$i}) {
					background: darken($aqua, 3% * $i);
				}
			}
		}
	}



		.app__nav__link--notification {
			line-height: 1.2em;
			vertical-align: middle;

			padding: 1.2em;

			strong {
				font-weight: 300;
				color: $sunflower;
			}
		}



		.app__nav__image {
			width: 2em;
			vertical-align: middle;

			margin: 0.5em 0.7em 0.5em 0;
			

			border-radius: 50%;


			.app__nav__link--notification & {
				float: left;
				width: 3em;

				margin-top: 0;
			}
		}

