


@mixin normalize_btn {
	border: none !important;
	outline: none !important;
}




.button {	
	@include normalize_btn;

	display: inline-block;
	
	color: $darkgray--dark;
	font-size: 0.8em;
	font-family: $header_font;
	text-decoration: none;
	text-align: center;
	
	padding: 1.5em;
	background: $sunflower;
	
	border-radius: 1em;
	
	
	&:active,
	&:hover {
		background: $sunflower--dark;
	}
}

	.button--full {
		width: 100%;
	}

	.button--half {
		width: 50%;
	}

	.button--icon {
		padding: 1em;

		color: white;
		font-weight: 300;
		text-transform: uppercase;
		

		i {
			font-size: 1.5em;
			line-height: 1em;
			vertical-align: middle;

			margin-right: 0.5em;
		}
	}

	.button--just_one {
		width: 30%;

		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}


	.button--swapp {
		background: $grass;


		&:hover {
			@include gradient;	
			-webkit-animation: hue 5s infinite;
		}
	}


	.button--refuse {
		background: $grapefruit;


		&:hover {
			background: $grapefruit--dark;
		}
	}

	.button--accept {
		background: $grass;


		&:hover {
			background: $grass--dark;
		}
	}




.app__header__btn {
	@include normalize_btn;

	position: relative;

	padding: 0.6em 0.8em 0.5em;

	font-size: 2em;
	color: $bittersweet--darker;


	background: none;


	.count {
		display: inline-block;
		position: absolute;
		bottom: 1.5em;
		right: 1.5em;

		color: white;
		font-family: $header_font;
		font-size: 0.4em;
		line-height: 1.5em;


		width: 1.5em;
		height: 1.5em;

		background: $mint;

		border-radius: 50%;


		&:empty {
			background: none;
		}
	}
}

	.app__header__btn--notifications {

		&.app__header__btn--active {
			background: $aqua;
		}
	}

	.app__header__btn--search {

		&.app__header__btn--active {
			color: $darkgray--dark;
			background: white;
		}
	}

	.app__header__btn--active {
		color: white;

		background: $mint;


		.count {
			background: none !important;
		}
	}




