.profile {

}

	.profile__header {
		position: relative;
		text-align: center;


		& + .big-bottom {
			margin-bottom: 3em;
		}

	}


		.profile__header__h1,
		.profile__header__h2 {
			color: $darkgray--dark;
			text-transform: uppercase;
			line-height: 1em;
		}

		.profile__header__h1 {
			font-size: 3.5em;

			margin-bottom: 0.2em;
		}

		.profile__header__h2 {
			font-size: 1.2em;

			margin-bottom: 4em;
		}