

<article class="col span4 mobile--span12 item">
	<div class="item__images">
		<a href="/items/{{id}}" class="item__image__link"><div style="background-image:url('{{image}}')" class="item__image"></div></a>
		<a href="/users/{{user.id}}" class="item__owner_link"><img src="https://graph.facebook.com/{{user.fb_uid}}/picture" class="item__owner_image"></a>
	</div>
	<a href="/items/1"><h2 class="item__title">{{title}}</h2></a>
</article>