

<section class="grid grid--center items-new" id="items-new">\

<form id="item-new-form">
	<div class="hide">
		<input type="file" id="imageLoader" name="imageLoader"/>
		<canvas id="imageCanvas"></canvas>
	</div>
	<a class="upload-field">Load image</a>
	<input type="text" name="title" />
	<textarea name="description"></textarea>
	<a class="submit">Submit</a>
</form>



</section>