

{{! <a href="#" class="app__nav__link">
	<img src="" class="app__nav__image">
	Edouard Trong
</a> }}
<a href="#" class="app__nav__link" id="app__nav__link--facebook">Sign In with Facebook</a>
<a href="#" class="app__nav__link swapp-star">Favorites</a>
<a href="#" class="app__nav__link swapp-tool">Settings</a>
<a href="#" class="app__nav__link swapp-unlock">Log out</a>