
<a href="proposals/{{id}}" class="app__nav__link app__nav__link--notification">
{{#is_initiator}}
	{{#is_pending}}
		<div style="background-image: url('{{their_item.image}}')" class="item__image app__nav__image"></div>
		You asked <strong>{{them.firstname}}</strong> to trade {{gender_word}} <strong>{{their_item.title}}</strong> for your <strong>{{your_item.title}}</strong>
	{{/is_pending}}


	{{#is_accepted}}
		<div style="background-image: url('{{their_item.image}}')" class="item__image app__nav__image"></div>
		<strong>{{them.firstname}}</strong> accepted to trade {{gender_word}} <strong>{{their_item.title}}</strong> for your <strong>{{your_item.title}}</strong>
	{{/is_accepted}}


	{{#is_rejected}}
		<div style="background-image: url('{{their_item.image}}')" class="item__image app__nav__image"></div>
		<strong>{{them.firstname}}</strong> refused to trade {{gender_word}} <strong>{{their_item.title}}</strong> for your <strong>{{your_item.title}}</strong>
	{{/is_rejected}}

{{/is_initiator}}


{{^is_initiator}}
	{{#is_pending}}
		<div style="background-image: url('{{their_item.image}}')" class="item__image app__nav__image"></div>
		<strong>{{them.firstname}}</strong> wants to swapp your <strong>{{your_item.title}}</strong> for {{gender_word}} <strong>{{their_item.title}}</strong>
	{{/is_pending}}


	{{#is_accepted}}
		<div style="background-image: url('{{their_item.image}}')" class="item__image app__nav__image"></div>
		You accepted <strong>{{them.firstname}}</strong>'s offer to swapp your <strong>{{your_item.title}}</strong> for {{gender_word}} <strong>{{their_item.title}}</strong>
	{{/is_accepted}}


	{{#is_rejected}}
		<div style="background-image: url('{{their_item.image}}')" class="item__image app__nav__image"></div>
		You refused <strong>{{them.firstname}}</strong>'s offer to swapp your <strong>{{your_item.title}}</strong> for {{gender_word}} <strong>{{their_item.title}}</strong>
	{{/is_rejected}}
{{/is_initiator}}
</a>

