<div class="header__bar header__bar--profile"></div>

<section class="grid">
	<header class="profile__header col span12">
		<div class="header__image header__image--profile" style="{{#fb_uid}}background-image:url('https://graph.facebook.com/{{fb_uid}}/picture?width=200&height=200'){{/fb_uid}}"></div>
		
		<h1 class="profile__header__h1">{{firstname}} <span class="thin">{{lastname}}</span></h1>
		<h2 class="profile__header__h2 thin">Swapper since {{date}}</h2>
	</header>

	{{#is_me}}
	<a href="/items/new" class="col span12 big-bottom">
		<div class="proposal proposal--new">
			<span class="proposal__title">Upload a new Swapp</span>
		</div>
	</a>
	{{/is_me}}
</section>



<section class="grid grid--center items items--profile" id="items">

</section>