<img src="https://graph.facebook.com/{{fb_uid}}/picture?type=large" class="item__owner_image">
<h1>{{firstname}} <span class="thin">{{lastname}}</span></h1>
<h2>Swapper since {{date}}</h2>

<section class="grid grid--center items" id="items">



</section>