---
title: WeSwapp
layout: layout
---

<section class="full-screen">
	<div class="slides full-screen">
	    <div class="slide slide-01"></div>
	    <div class="slide slide-02"></div>
	    <div class="slide slide-03"></div>
	    <div class="slide slide-04"></div>
	    <div class="slide slide-05"></div>
	    <div class="slide slide-06"></div>
	    <div class="slide slide-07"></div>
	    <div class="slide slide-08"></div>
	    <div class="slide slide-09"></div>
    </div>

	<div class="landing__box">
		<h1 class="landing__h1"><i class="swapp-logotype"></i></h1>
		<h2 class="landing__h2"><span class="thin">We're Lauching Soon,</span> GET READY!</h2>

		<h2 class="landing__h3"><span class="thin">Switch Your Old Stuff</h2>



		<form action="http://linkedin.us5.list-manage.com/subscribe/post?u=1e9a3a392e3a899b19e8546cc&amp;id=9bd38b83fa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<input type="email" name="EMAIL" placeholder="Your Email Address" class="pillbox pillbox--just_one" id="mce-EMAIL" required><input type="submit" value="Notify Me" class="button button--just_one">
		</form>
	</div>

</section>